@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

:root {
    --bt : #6096B4;
    --b : #93BFCF;
    --bm : #BDCDD6;
    --dasar : #EEE9DA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Popins', sans-serif;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: var(--dasar);
}

form {
    background-color: var(--bm);
    border: solid var(--bt);
    border-radius: 10px;
    padding: 2.4rem 5rem;
}

form h1 {
    text-align: center;
    border-bottom: solid;
    color: white;
}

.login form .text {
    position: relative;
    padding: 0 3rem;
}

.login form .text input {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    font-size: 1rem;
    border-radius: 10px;
    border: solid grey;
}

.login form .text input:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.login .gas input {
    padding:1rem 1.2rem;
    text-transform: uppercase;
    border-radius: 10px;
    border: solid grey;
}

.login .gas input:hover {
    cursor: pointer;
    background-color: var(--b);
}

.login .gas {
    text-align: center;
}