:root {
    --abu: #6F6F73;
    --hijau: #4D5940;
    --cokelat: #59412C;
    --dark: #26221A;
    --putih: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    color: white;
}

body {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ae2fa3ca-0851-4f3c-b276-0c5b7412e428/dab5iba-a1a69f7c-9c78-490e-a22d-8f6b007e6786.png/v1/fill/w_1024,h_627,q_80,strp/362_365_cheetos_by_snatti89_dab5iba-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjI3IiwicGF0aCI6IlwvZlwvYWUyZmEzY2EtMDg1MS00ZjNjLWIyNzYtMGM1Yjc0MTJlNDI4XC9kYWI1aWJhLWExYTY5ZjdjLTljNzgtNDkwZS1hMjJkLThmNmIwMDdlNjc4Ni5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.tvrUPtgcypJaGZpgD_d28v5QkLBAIBBzOiYMiOu1xJw');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    outline: none;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid;
    background-color: black;
}

.nav h1 {
    font-weight: 800;
    font-size: 2.4rem;
}

.nav .navbar-nav a {
    display: inline-block;
    font-size: 1rem;
    margin: 0 1.2rem;
    text-transform: uppercase;
}